div.pattern-timeline-area {
  .nj-subhead{
    color: rgba(255, 255, 255, 0.54);
    font-size: 12px;
    padding-top: 0px;
    font-weight: 300;
    letter-spacing: 0.01em;
  }
	md-tabs .md-tab.md-active {
		color : rgb(227, 228, 234);
	 }
	 
	 md-tabs .md-tab {
		 color: rgba(249, 247, 247, 0.54);
	 }
	 
	 md-tab-content {
		 font-size: 0.8em;
		 
		 md-content{
			 color: white;
			 
			 p {
				 margin-top: 2px;
				 margin-bottom: 2px;
			 }
		 }
		 md-content.md-padding {
		     padding: 4px;
		 }
	 }
}