div.capturing-data-area {
md-card-content{
  text-align:center;
}
.camIcon{
  display:inline-block;
  width:80px;
  font-size:12px;
  img{
    width:20px;
  }
}
#disVideoMedia{
  width:302px;
  height:170px;
  video{
      width:302px;
      height:170px;
  }
  }
#dispVideo{
  height:190px;
}
#dispImg{
    position: absolute;
    left: -1000px;
    }
.selectMessage{
  height:190px;
  line-height:170px;
  color:gray;
  font-size:20px;
}
.njnone{
  display:none;
}
}